*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: calibri;
}
@media screen and (min-width: 600px){
    .main-container{
        width: 100%;
        position: relative;
    }
    .img{
        width: 100%;
        height: 90vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(imgs/net.jpg);
    }
    .header{
        width: 100%;
        height: 80px;
        display: flex;
    }
    .logo{
        width: 450px;
        height: 80px;
        text-align: center;
    }
    .logo img{
        height: 100px;
    }
    .box{
        width: 30%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box1{
        width: 120px;
        height: 50px;
        border: none;
        border-radius: 5px;
        background-color: red;
    }
    .box1 a{
        color: white;
        font-size: large;
        text-decoration: none;
    }
    .SignIn{
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: flex-end;
    }
    .card{
        width: 100%;
        height: 83%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content{
        width: 50%;
        height: 60%;
        text-align: center;
    }
    .content h1{
        color: white;
        font-size: 50px;
        margin-bottom: 5px;
        font-family: calibri;
    }
    .content p{
        color: white;
        margin-top: 5px;
    }
    .card2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .address{
        width: 73%;
        height: 20%;
        margin-top: 10px;
        display: flex;
        gap: 7px;
    }
    .add{
        padding: 15px;
        width: 350px;
        background-color: darkgray;
    }
    .big-button{
        width: 25%;
        padding: 15px;
        border: none;
        border-radius: 5px;
        background-color:  red;
    }
    .big-button p{
        color: white;
        font-size: larger;
    }
    /*THIS CODE IS FOR THE SIGN IN PAGE*/
    .img1{
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(imgs/net.jpg);
    }
    .container{
        width: 28%;
        height: 88%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.397);
    }
    .sub-card{
        width: 80%;
        height: 90%;
    }
    h1{
        margin-bottom: 15px;
    }
    .form{
        justify-content: center;
    }
    .enter{
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 5px;
        margin-bottom: 15px;
        background-color: rgba(168, 212, 226, 0.733);
    }
    ::placeholder{
        padding: 19px;
    }
    .enter1{
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 5px;
        margin-bottom: 15px;
        background-color: grey;
    }
    ::placeholder{
        color: white;
    }
    .butn{
        width: 100%;
        height: 35px;
        border: none;
        border-radius: 5px;
        background-color: burlywood;
    }
    .butn a{
        color: white;
        text-decoration: none;
    }
    .text-card{
        width: 100%;
        height: 8%;
        display: flex;
        justify-content: center;
    }
    .text{
        width: 50%;
        height: 100%;
        color: white;
        text-align: center;
        align-content: center;
    }
    .adjust{
        display: flex;
        gap: 10px;
    }
    .register{
        margin-top: 15px;
    }
    .register a{
        color: rgba(8, 247, 167, 0.712);
        text-decoration: none;
    }
    .footer{
        display: none;
    }
    /*FOR SECTION TWO OF THE MAIN PAGE*/
    .img2{
        width: 100%;
        height: 700px;
        background-color: rgb(8, 8, 8);
    }
    .gradient-box{
        width: 100%;
        height: 15px;
        background: linear-gradient(to right, red, orchid, yellow, green);
    }
    .main-card{
        width: 80%;
        height: 100%;
        margin: auto;
    }
    .trending{
        width: 100%;
        height: 150px;
    }
    .my-text{
        width: 30%;
        height: 60%;
        display: flex;
        align-items: center;
    }
    .trending-now{
        width: 100%;
        height: 40%;
    }
    .more-details{
        width: 50%;
        height: 30%;
    }
    .seletor{
        width: 100px;
        padding: 10px;
        background-color: black;
    }
    .movies{
        width: 100%;
        height: 400px;
        display: flex;
        gap: 10px;
    }
    .my-img{
        width: 20%;
        height: 450px;
        background-color: #fff;
    }
    .img-card{
        width: 100%;
        height: 90%;
    }
    .img-card img{
        width: 100%;
        height: 100%;
    }
    .recent{
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: red;
    }
    /*SECTION 3 OF THE LANDING-PAGE*/
    .cardss{
        width: 100%;
        height: 700px;
        background-color: rgb(0, 0, 0);
    }
    .sub-cardss{
        width: 80%;
        height: 100%;
        margin: auto;
    }
    .join{
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
    }
    .four-cards{
        width: 100%;
        height: 80%;
        display: flex;
        gap: 15px;
    }
    .reason-card{
        width: 25%;
        height: 80%;
        display: block;
        border-radius: 15px;
        justify-content: center;
        background: linear-gradient(to bottom, rgba(0, 0, 255, 0.836), indigo, pink);
    }
    .t{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;

    }
    .ttt{
        width: 90%;
        height:40%;
        justify-content: center;
        
    }
    .ttt h4{
        line-height: 20px;
    }
    .hi-container1{
        width: 100%;
        padding: 15px;
    }
    .hi-container{
        width: 90%;
        padding: 15px;
    }
    .hi-container2{
        width: 80%;
        padding: 15px;
    }
    /*SECTION 4 OF THE LANDING-PAGE*/
    .cardss1{
        width: 100%;
        height: 960px;
        background-color: rgb(0, 0, 0);
    }
    .sub-cardss1{
        width: 80%;
        height: 100%;
        margin: auto;
    }
    .heyy{
        width: 100%;
        height: 7%;
        background-color: black;
    }
    .sub1-card{
        width: 100%;
        height: 14%;
        display: flex;
        align-items: center;
        background-color: rgba(128, 128, 128, 0.575);
    }
    .you{
        width: 50%;
        height: 40%;
    }
    .sub1-card:hover{
        background-color: rgba(245, 222, 179, 0.527);
    }
    .sub2-card{
        width: 100%;
        height: 14%;
        display: flex;
        align-items: center;
        margin-top: 10px;
        background-color: rgba(128, 128, 128, 0.575);
    }
    .sub3-card{
        width: 100%;
        height: 14%;
        display: flex;
        align-items: center;
        margin-top: 10px;
        background-color: rgba(128, 128, 128, 0.575);
    }
    .sub4-card{
        width: 100%;
        height: 14%;
        display: flex;
        align-items: center;
        margin-top: 10px;
        background-color: rgba(128, 128, 128, 0.575);
    }
    .sub5-card{
        width: 100%;
        height: 14%;
        display: flex;
        align-items: center;
        margin-top: 10px;
        background-color: rgba(128, 128, 128, 0.575);
    }
    .sub6-card{
        width: 100%;
        height: 14%;
        display: flex;
        align-items: center;
        margin-top: 10px;
        background-color: rgba(128, 128, 128, 0.575);
    }
    .pc-footer{
        width: 100%;
        height: 900px;
        background-color: rgb(0, 0, 0);
    }
    .txt1{
        width: 100%;
        height: 13%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .text-card-footer{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .text-footer{
        width: 65%;
    }
    .footer-textarea{
        width: 80%;
        background-color: rgba(0, 0, 0, 0.596);
        padding: 25px;
        border-style: groove;
        border-width: 3px;
        border-color: white;
    }
    button{
        width: 18%;
        padding: 20px;
        font-size: large;
        background-color: red;
    }
    .footer-bottom{
        width: 100%;
        height: 75%;
    }
    .txt{
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    ul{
        width: 86%;
        height: 15px;
        list-style-type: none;
    }
    .txt li{
        font-size: x-large;
    }
    .footerr{
        display: flex;
        width: 100%;
        height: 80%;
        gap: 10px;
        justify-content: center;
    }
    .footer-bottom-cards{
        width: 21%;
        height: 80%;
    }
    .footer-bottom-cards li{
        line-height: 50px;
    }
    .pampam{
        display: none;
    }
    .english{
        display: none;
    }
}

@media screen and (max-width: 600px){
    .main-container{
        width: 100%;
    }
    .img{
        width: 100%;
        height: 70vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(imgs/net.jpg);
    }
    .header{
        width: 100%;
        height: 80px;
        display: flex;
    }
    .logo{
        width: 30%;
        height: 50px;
        text-align: center;
    }
    .logo img{
        width: 50%;
        height: 70px;
    }
    .SignIn{
        height: 80px;
        width: 70%;
        display: flex;
        justify-content: flex-end;
    }
    .box{
        width: 40%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box1{
        width: 80px;
        height: 35px;
        border: none;
        border-radius: 5px;
        background-color: red;
    }
    .box1 a{
        color: white;
        text-decoration: none;
    }
    .card{
        width: 100%;
        height: 73%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content{
        width: 90%;
        height: 90%;
        text-align: center;
    }
    .content h1{
        color: white;
        font-size: 43px;
        font-family: calibri;
    }
    .content p{
        color: white;
        margin-top: 5px;
    }
    .card2{
        display: flex;
        justify-content: center;
    }
    .address{
        width: 90%;
        height: 20%;
        margin-top: 10px;
        display: grid;
    }
    .add{
        padding: 15px;
        width: 300px;
        background-color: darkgray;
    }
    .big-button{
        width: 40%;
        margin-top: 10px;
        padding: 5px;
        border: none;
        justify-self: center;
        border-radius: 5px;
        background-color:  red;
    }
    .big-button p{
        color: white;
        font-size: larger;
    }
    /*THIS CODE IS FOR THE SIGN IN PAGE*/
    .main-container{
        width: 100%;

        background-color: black;
    }
    .logo{
        width: 160px;
        height: 80px;
    }
    .logo img{
        height: 100px;
    }
    .container{
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sub-card{
        width: 80%;
        height: 100%;
    }
    h1{
        margin-top: 1px;
        margin-bottom: 10px;
    }
    .form{
        justify-content: center;
    }
    .enter{
        width: 100%;
        height: 50px;
        border: 1px;
        border-style: groove;
        border-radius: 4px;
        margin-bottom: 15px;
        background-color: rgba(128, 128, 128, 0.219);
    }
    ::placeholder{
        padding: 19px;
    }
    .enter1{
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;
        text-align: center;
        background-color: rgba(128, 128, 128, 0.808);
    }
    ::placeholder{
        color: white;
    }
    .butn{
        width: 100%;
        height: 35px;
        border: none;
        border-radius: 5px;
        background-color: red;
    }
    .butn a{
        color: white;
        text-decoration: none;
    }
    .text-card{
        width: 100%;
        height: 8%;
        display: flex;
        justify-content: center;
    }
    .text{
        width: 50%;
        height: 100%;
        color: white;
        text-align: center;
        align-content: center;
    }
    .adjust{
        display: flex;
        margin-top: 10px;
        gap: 10px;
    }
    .register{
        margin-top: 15px;
    }
    .register a{
        color: aliceblue;
        text-decoration: none;
    }
    .register p{
        color: rgba(255, 255, 255, 0.767);
    }
    .my-footer{
        width: 100%;
        height: 210px;
        margin-top: 50px;
    }
    .mini{
        width: 100%;
        height: 170px;
        display: flex;
        margin-top: 15px;
    }
    .minicard1{
        width: 50%;
        height: 1000%;
    }
    .minicard1 h3{
        line-height: 40px;
    }
    .minicard2{
        width: 50%;
        height: 100%;
        text-align: right;
    }
    .minicard2 h3{
        line-height: 40px;
    }
    .hi{
        line-height: none;
    }
    /*Section 2 of the landing-page*/
    .img2{
        width: 100%;
        height: 270px;
    }
    .more-details{
        display: none;
    }
    .gradient-box{
        width: 100%;
        height: 10px;
        background: linear-gradient(to right, red, orchid, yellow, green);
    }
    .main-card{
        width: 80%;
        margin: auto;
    }
    .trending{
        width: 100%;
        height: 50px;
    }
    .my-text{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .trending-now{
        width: 100%;
        height: 40%;
    }
    .movies{
        width: 100%;
        display: flex;
        gap: 10px;
    }
    .my-img{
        width: 33%;
        height: 150px;
    }
    .img-card{
        width: 100%;
        height: 90%;
    }
    .my-img:nth-child(n+4){
        display: none;
    }
    .img-card img{
        width: 100%;
        height: 100%;
    }
    .recent{
        width: 100%;
        height: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: red;
    }
    .recent h3{
        font-size: small;
    }
    /*SECTION 3 OF THE LANDING-PAGE*/
    .cardss{
        width: 100%;
        height: 880px;
        background-color: rgb(5, 5, 5);
    }
    .sub-cardss{
        width: 80%;
        height: 100%;
        margin: auto;
        border-color: blueviolet;
    }
    .join{
        width: 100%;
        height: 6%;
        display: flex;
        align-items: center;
    }
    .four-cards{
        width: 100%;
        display: grid;
        gap: 20px;
    }
    .reason-card{
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 15px;
        justify-content: center;
        background: linear-gradient(to bottom, rgba(0, 0, 255, 0.836), indigo, pink);
    }
    .t{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
    }
    .ttt{
        width: 90%;
        height:40%;
        justify-content: center;
        
    }
    .ttt h4{
        line-height: 20px;
    }
    .hi-container1{
        width: 100%;
        padding: 15px;
    }
    .hi-container{
        width: 90%;
        padding: 15px;
    }
    .hi-container2{
        width: 80%;
        padding: 15px;
    }
    /*SECTION 4 OF THE LANDING-PAGE*/
    .cardss1{
        width: 100%;
        height: 380px;
    }
    .sub-cardss1{
        width: 80%;
        height: 100%;
        margin: auto;
    }
    .heyy{
        width: 100%;
        height: 7%;
        display: flex;
        align-items: center;
        background-color: rgb(7, 7, 7);
    }
    .heyy{
        font-size: 12px;
    }
    .sub1-card{
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        background-color: rgba(128, 128, 128, 0.575);
    }
    .you{
        width: 100%;
        height: 40%;
        font-size: small;
    }
    .sub1-card:hover{
        background-color: rgba(245, 222, 179, 0.527);
    }
    .sub2-card{
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        margin-top: 10px;
        background-color: rgba(128, 128, 128, 0.575);
    }
    .sub3-card{
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        margin-top: 10px;
        background-color: rgba(128, 128, 128, 0.575);
    }
    .sub4-card{
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        margin-top: 10px;
        background-color: rgba(128, 128, 128, 0.575);
    }
    .sub5-card{
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        margin-top: 10px;
        background-color: rgba(128, 128, 128, 0.575);
    }
    .sub6-card{
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        margin-top: 10px;
        background-color: rgba(128, 128, 128, 0.575);
    }
    /*THIS IS THE FOOTER SECTION*/
    .pc-footer{
        width: 100%;
        height: 900px;
        background-color: rgb(0, 0, 0);
    }
    .mid{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
    }
    .txt1{
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        /*background-color: orange;*/
        font-size: 17px;
    }
    .text-card-footer{
        width: 100%;
        height: 14%;
        display: flex;
        justify-content: center;
        /*background-color: blue;*/
    }
    .text-footer{
        width: 80%;
        height: 100%;
        /*background-color: palevioletred;*/
    }
    .footer-textarea{
        width: 100%;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.596);
        border-style: groove;
        border-width: 3px;
        border-color: white;
        background-color: rgba(31, 30, 30, 0.623);
    }
    button{
        width: 60%;
        height: 50px;
        font-size: large;
        border-radius: 5px;
        margin-top: 5px;
        background-color: red;
    }
    .footer-bottom{
        width: 100%;
        height: 75%;
        /*background-color: orchid;*/
    }
    .txt{
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    ul{
        width: 80%;
        height: 15px;
        list-style-type: none;
    }
    .txt li{
        font-size: x-large;
    }
    .footer-bottom-cards{
        display: none;
    }
    .pampam{
        width: 100%;
        height: 57%;
        display: flex;
        justify-content: center;
    }
    .pampam-text{
        width: 85%;
        height: 100%;
        line-height: 25px;
        font-size: large;
        list-style-type: none;
    }
    .english{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .get-started{
        width: 85%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;
    }
}